<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Right</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            background-color: lightgray;
        }
        .header {
            height: 100px;
            width: 100%;
            background-color: darkgray;
        }
        .container {
            width: 60%;
            margin: auto;
            padding: 5px;
            background-color: white;
            min-height: 700px;
            height: 100%;
        }
        .container>div {
            background-color: beige;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="header">

    </div>
    <div class="container">
        <div>
            <a href="{%  url 'journal' %}">Просмотр журнала</a>
            {{ self }}
        </div>
    </div>
</body>
</html>