<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Журнал</title>
    <script>
        function process(data) {
            return new Promise(function (resolve, reject) {
                if (typeof(data) === "string") {
                    document.querySelector('div#console').innerHTML = data;
                } else {
                    document.querySelector('div#console').innerHTML = JSON.stringify(data);
                }
                if (!data || data.length === 0) {
                    document.querySelector('div.journal').innerHTML = 'Журнал пуст'
                }
                resolve(data);
            });
        }

        function init() {
            get('/api/journal').then(process);
        }

        function get(url) {
            return new Promise(function (resolve, reject) {
                let req = new XMLHttpRequest();
                req.open('GET', url);

                req.onload = function () {
                    if (req.status === 200) {
                        let data;
                        try {
                            data = JSON.parse(req.response);
                        } catch (e) {
                            data = req.response;
                        }
                        resolve(data);
                    }
                    else {
                        reject(Error(req.statusText));
                    }
                };

                req.onerror = function () {
                    reject(Error("Network Error"));
                };

                req.send();
            });
        }


    </script>
</head>
<body onload="init()">
<div class="header"></div>
<div class="container">
    <div>
        <h2>
            Выдать книгу
        </h2>
    {{ books }}
        <select name="book_id" id="book_id">
            {% for book in books %}
            <option value="{{ book.id }}">{{ book.name }}</option>
            {%  endfor %}
        </select>

    </div>
    <div class="journal"></div>
</div>
<div id="console" style="background-color: darkgray; position: fixed; bottom: 10px; height: 100px; width: 1000px; margin: auto">

</div>
</body>
</html>